n8n/workflows/example-workflow.json
{
  "name": "StoryMapp Example Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "webhook",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Exemplo de processamento de dados\nconst inputData = $input.first().json;\n\n// Log dos dados recebidos\nconsole.log('Dados recebidos:', inputData);\n\n// Retornar resposta\nreturn {\n  json: {\n    message: 'Dados processados com sucesso!',\n    receivedData: inputData,\n    timestamp: new Date().toISOString(),\n    processedBy: 'StoryMapp n8n'\n  }\n};"
      },
      "id": "process-data",
      "name": "Process Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
} 